body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#column-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 4rem;
    max-width: 10rem;
    user-select: none;
}

button {
    border: none;
    outline: none;
    background: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0.25rem 1rem;
    margin: 0;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #ddd;
    }
}
